<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../static/light.min.css">
</head>
<body>
<h1>DBO-SME Release page</h1>
<h2>Fix Versions</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Команды</th>
        <th>Релизная задача</th>
    </tr>
    </thead>
    <tbody>
    {% for version in versions %}
    <tr>
        <td>{{ version.name }}</td>
        <td>{{ version.teams_string }}</td>


        {% if version.is_rt_exists is true %}
        <td><a href="https://jira.mtsbank.ru/browse/{{ version.release_task.key }}">{{ version.release_task.key }}</a></td>
        <td><button>Редактировать</button></td>
        {% else %}
        <td>Отсутствует</td>
        <td><button>Создать</button></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>