<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../static/light.min.css">
    <script src="../static/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<h1>DBO-SME Release page</h1>
<h2>Релизная задача: {{ release_task.name }}</h2>
<h2>Fix Version</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Команды</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ version.name }}</td>
        <td>{{ version.teams_string }}</td>
    </tr>
    </tbody>
</table>
<h2>Services</h2>
<table>
    <thead>
    <tr>
        <th>Имя сервиса</th>
        <th>Версия</th>
        <th>Изменение конфигурации</th>
    </tr>
    </thead>
    <tbody>
    {% for service in services %}
    <tr>
        <td>{{ service.get_name() }}</td>
        <td>{{ service.version }}</td>
        <td>{{ service.get_configuration_change_view() }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h3>Добавить сервис</h3>
<form>
    <table>
        <thead>
        <tr>
            <th>Имя сервиса</th>
            <th>Версия</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>
                <input name="service_name" list="brow" type="search" autocomplete="off">
                <datalist id="brow">
                    <option value="entity-application">
                    <option value="entity-dbo">
                </datalist>
            </td>
            <td>
                <input name="service_version" type="text"/>
            </td>
            <td>
                <input type="submit" value="Добавить сервис к релизной задаче"/>
            </td>

        </tr>
        </tbody>
    </table>
    <input type="hidden" name="action" value="add_service">
</form>
<h3>Текущий merge request с обновлениями конфигураций</h3>
{% if release_task.configs_mr is none %}
<input type="text" disabled value="Not setted"/>
{% else %}
<input type="text" disabled value="{{ release_task.configs_mr.get_source_branch() }}"/>
<h3>Для следующих сервисов изменятся конфигурации:</h3>
<ul>
    {% for service in release_task.configs_mr.get_services_with_changes_prod() %}
    <li>{{ service }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>Выберите merge request с обновлениями из репозитория с конфигурациями для данной fix version</h3>
<form>
    <select name="configs_mr_name">
        {% for mr_source_branch in opened_config_repo_mrs %}
        <option>{{ mr_source_branch }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="action" value="set_configs">
    <input type="submit" value="Подтвердить">
</form>

<h3>Ссылка на ветку с SQL скриптами</h3>
<form>
    <input name="sql_url" type="text" style="width: 600px"/>
    <input type="hidden" name="action" value="set_sql_url">
    <input type="submit" value="Подтвердить">
</form>
</body>
</html>