<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../static/light.min.css">
</head>
<body>
<h1>DBO-SME Release page</h1>
<h2>Fix Versions</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in results %}
    <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['status'] }}</td>
        <td>{{ item['number'] }}</td>

        {% if item['task_exists'] is true %}
        <td><button>Edit</button></td>
        {% else %}
        <td><button>Create</button></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>