<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBO-SME Releases - Wait</title>
    <link rel="stylesheet" href="../static/light.min.css">
    <link rel="stylesheet" href="../static/loading.css">
    <script src="../static/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
  $.ajax({
    type: "GET",
    url: "{{ backend_host }}/refresh_versions",
    success: function(data, textStatus) {
        console.log(data)
        console.log(textStatus)
        if (data.redirect) {
            window.location.href = data.redirect;
        } else {
            console.log('error when getting redirect')
        }
    },
    "headers": {
              "accept": "application/json",
              "Access-Control-Allow-Origin":"*"
          }
   });
});
    </script>
</head>
<body>
<h1>DBO-SME Release page</h1>
<h2>LOADING FIX VERSIONS</h2>
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</body>
</html>