<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBO-SME Releases - Wait</title>
    <link rel="stylesheet" href="../static/light.min.css">
</head>
<body>
<h1>DBO-SME Release page</h1>
<h2>Релизная задача для версии {{ version.name }} уже существует - https://jira.server.ru/browse/{{ version.release_task.key }}</h2>
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</body>
</html>